<h2>{{ title }}</h2>
<p><strong>Case Number:</strong> {{ case.case_number }}</p>
<p><strong>Date Opened:</strong> {{ case.date_opened|date('Y-m-d') }}</p>
<p><strong>Plaintiff:</strong> {{ case.plaintiff }}</p>
<p><strong>Defendant:</strong> {{ case.defendant }}</p>
<p><strong>Case Notes:</strong> {{ case.case_notes }}</p>
